h1 {
  background-color: blue;
  font-family: Verdana;
  color: red;
  border: 2px solid black;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

p {
  font-size: 14px;
  font-family: Verdana;

}

div {
  border: 1px solid red;
  padding: 5px;
  margin-bottom: 4px;
}