* {
  background-color: #ffffff;
  font-family: Montserrat;
}

/*DIV BORDER: for visualizing placement of elements on the page

div {
  border: 1px solid black;
}*/


/*COLORBAR*/

#color_bar {
  width: 99%;
  height: 30px;
  background-color: #ffff33;
  position: absolute;
}

/*HEADER: logo and social media links*/

#header {
  height: 65px;
  width: 99%;
  position: absolute;
  margin: auto;
  clear: both;
  top: 80px;
}

#black_logo {
  font-family: Futura;
}

#black_logo:hover {
  text-decoration: none;
  background-color: white;
  color: white;
}

#logo {
  border: 3px solid black;
  float: left;
  position: relative;
  top: 0px;
  left: 20px;
  height: 50px;
  width: 250px;
  font-size: 36px;
  padding: 5px;
  text-align: center;
}

#social {
  height: 60px;
  width: 180px;
  float: right;
  position: relative;
}

#social_icon {
  height: 30px;
  width: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

/*CONTENT: contains About Me, Menu, and Archive*/

#content {
  width: 98%;
  /*height: 400px;*/
  position: relative;
  top: 160px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover > p {
  text-decoration: underline;
}

a:visited > p {
  text-decoration: none;
  color: black;
}

/*SIDEBAR: about me and menu*/

#sidebar {
  float: left;
  display: inline-block;
  vertical-align: top;
  height: 400px;
  width: 280px;
}

#photo {
  position: relative;
  left: 60px;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#smileyface {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#about {
  font-family: Muli;
  width: 220px;
  height: 75px;
  position: relative;
  top: 10px;
  left: 20px;
  right: 10px;
  padding-left: 30px;
  padding-top: 5px;
  font-size: 16px;
}

#menu {
  width: 220px;
  position: relative;
  top: 10px;
  left: 20px;
  right: 10px;
  padding-left: 30px;
  font-size: 20px;
}

/*ARCHIVE: table of contents for blogs and projects*/

#archive {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
  margin-left: 30px;
}

td {
  height: 60px;
}

hr {
  border: 1px dashed black;
  width: 1030px;
  text-align: center;
}

#date {
  font-family: Muli;
  font-size: 14px;
  margin-bottom: 10px;
  margin-left: 100px;
}

#title {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 100px;
}

#post {
  font-family: Muli;
  margin-left: 100px;
  margin-top: 0px;
  font-size: 18px;
  width: 850px;
  padding-top: 0px;
}

img {
  width: 800px;
}

#image_long {
  width: 700px;
}

#image_link {
  font-size: 10px;
}

/*FOOTER: copyright, maintains spacing*/

#footer {
  position: relative;
  clear: both;
  bottom: 5px;
  width: 98%;
  font-size: 10px;
  text-align: right;
  margin-top: 80px;
  padding: 5px;
}
