*{
  background-color: white;
  font-family: Verdana;
}

#title {
  border: 1px solid black;
  width: 600px;
  font-family: Verdana;
  font-size: 4em;
  text-align: center;
  margin: auto;
}

table {
  margin: auto;
  width: 1200px;
  border: 1px solid black;
  margin-top: 50px;
  border-collapse: collapse;
}

td {
  font-size: 2em;
  text-align: center;
  border:1px solid black;
  width: 400px;
  padding: 10px;
  background-color: #6B006B;
}

.Blog_post {
  border:1px solid black;
  width: 1180px;
  margin:auto;
  padding: 10px;
  font-size: 1em;
}

#previous {
  display: inline-block;
  border: 1px solid black;
  margin-left: 350px;
  margin-right: 300px;
}

#next {
  display: inline-block;
  border: 1px solid black;
  margin-right: 300px;
  margin-left: 200px;
}